<!doctype html>
<html>
<head>
    <style>
   body {
    font: 20px Arial, sans-serif;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

    </style>
</head>
<body>
<a href="/"> New Query</a>
<br><br>
{% if title[0] %}
<b>German job titles</b>
<table border=1>
    {% for tit in title %}
    <tr>
        <th> {{ tit }}</th>
    </tr>
    {% endfor %}
</table>
<br><br>
{% endif %}

<b>Country: {{country}}</b>
<br><br>
<b>City: {{city}}</b>
<br><br>
<b>Skills</b>
{% if skills[0] %}
<table border=1>
    {% for skill in skills %}
    <tr>
        <th> {{ skill }}</th>
    </tr>
    {% endfor %}
</table>
{% endif %}
</body>
</html>