<!DOCTYPE html>
<html>
<head>

    <title>Upload</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>

<br><br>
<div class="container">
    <form id="upload-form" action="{{ url_for('file') }}" method="POST" enctype="multipart/form-data">
        <strong>Please select a pdf file to upload:</strong><br>
        <input type = "file" name = "file" accept="application/pdf"/>
        <input type = "submit"/>
    </form>
    <br><br>

    <form action="{{ url_for('url') }}" method="POST" role="form">
        <strong>Or please provide an url:</strong><br>
        <input type="text" class="form-control" id="url" name="url" autocomplete="off" placeholder="Provide an url" required>
        <input type = "submit"/>
    </form>


</div>
</body>
</html>